In [1]:
import surprise

In [2]:
data = surprise.Dataset.load_builtin('ml-100k')

Dataset ml-100k could not be found. Do you want to download it? [Y/n] Y
Trying to download dataset from http://files.grouplens.org/datasets/movielens/ml-100k.zip...
Done! Dataset ml-100k has been saved to /home/mk/.surprise_data/ml-100k

In [4]:
df = pd.DataFrame(data.raw_ratings, columns=["user", "item", "rate", "id"])
del df["id"]
df.head(10)

  user item  rate
0  196  242   3.0
1  186  302   3.0
2   22  377   1.0
3  244   51   2.0
4  166  346   1.0
5  298  474   4.0
6  115  265   2.0
7  253  465   5.0
8  305  451   3.0
9    6   86   3.0

In [6]:
df_table = df.set_index(["user", "item"]).unstack()

In [7]:
df_table.fillna("").iloc[212:222, 808:817]

     rate
item  211 212 213 214 215 216 217 218 219
user
290     3                   4       2
291         4       4   4           4   4
292                 3
293     4       3       4   4   3   2
294
295             5       5   5   4   5
296     4
297     4       3       2   4       3
298     5       3       5
299     4   4   5           5

### 추천성능 평가
- `BaselineOnly`


- $\text{RMSE} = \sqrt{\frac{1}{|\hat{R}|} \sum_{\hat{r}_{ui} \in \hat{R}}(r_{ui} - \hat{r}_{ui})^2}$


- 평점 $r_{ui}$, 예측치 $\hat r_{ui}$, 데이터셋 $R$

In [9]:
bsl_options = {'method': 'als',
               'n_epochs': 5, # 최적화 반복 횟수
               'reg_u': 12, # 사용자에 대한 정규화 가중치
               'reg_i': 5 #상품에 대한 정규화 가중치
               }
algo = surprise.BaselineOnly(bsl_options=bsl_options)

In [10]:
surprise.evaluate(algo, data)

/home/mk/anaconda3/lib/python3.6/site-packages/surprise/evaluate.py:66: UserWarning: The evaluate() method is deprecated. Please use model_selection.cross_validate() instead.
  'model_selection.cross_validate() instead.', UserWarning)
/home/mk/anaconda3/lib/python3.6/site-packages/surprise/dataset.py:193: UserWarning: Using data.split() or using load_from_folds() without using a CV iterator is now deprecated.
  UserWarning)

Evaluating RMSE, MAE of algorithm BaselineOnly.

------------
Fold 1
Estimating biases using als...
RMSE: 0.9415
MAE:  0.7455
------------
Fold 2
Estimating biases using als...
RMSE: 0.9479
MAE:  0.7507
------------
Fold 3
Estimating biases using als...
RMSE: 0.9392
MAE:  0.7452
------------
Fold 4
Estimating biases using als...
RMSE: 0.9388
MAE:  0.7432
------------
Fold 5
Estimating biases using als...
RMSE: 0.9411
MAE:  0.7444
------------
------------
Mean RMSE: 0.9417
Mean MAE : 0.7458
------------
------------

CaseInsensitiveDefaultDict(list,
                           {'mae': [0.7454931556625888,
                             0.7507073852723269,
                             0.7452429540681239,
                             0.743170547277119,
                             0.744417064416753],
                            'rmse': [0.9414864498668788,
                             0.9478877446347971,
                             0.9392171999718102,
                             0.9387862683688994,
                             0.9410595260381677]})

### Neighborhood 모형 - 평가

In [11]:
sim_options = {'name': 'msd'} # Mean Squared 
algo = surprise.KNNBasic(sim_options=sim_options)
surprise.evaluate(algo, data)

/home/mk/anaconda3/lib/python3.6/site-packages/surprise/evaluate.py:66: UserWarning: The evaluate() method is deprecated. Please use model_selection.cross_validate() instead.
  'model_selection.cross_validate() instead.', UserWarning)
/home/mk/anaconda3/lib/python3.6/site-packages/surprise/dataset.py:193: UserWarning: Using data.split() or using load_from_folds() without using a CV iterator is now deprecated.
  UserWarning)

Evaluating RMSE, MAE of algorithm KNNBasic.

------------
Fold 1
Computing the msd similarity matrix...
Done computing similarity matrix.
RMSE: 0.9750
MAE:  0.7715
------------
Fold 2
Computing the msd similarity matrix...
Done computing similarity matrix.
RMSE: 0.9839
MAE:  0.7778
------------
Fold 3
Computing the msd similarity matrix...
Done computing similarity matrix.
RMSE: 0.9784
MAE:  0.7720
------------
Fold 4
Computing the msd similarity matrix...
Done computing similarity matrix.
RMSE: 0.9756
MAE:  0.7711
------------
Fold 5
Computing the msd similarity matrix...
Done computing similarity matrix.
RMSE: 0.9803
MAE:  0.7735
------------
------------
Mean RMSE: 0.9786
Mean MAE : 0.7732
------------
------------

CaseInsensitiveDefaultDict(list,
                           {'mae': [0.7715152612906991,
                             0.7778404902067725,
                             0.7720075639560895,
                             0.7710636637624437,
                             0.773500176730676],
                            'rmse': [0.9749819592938733,
                             0.9838838435645397,
                             0.9783864423800339,
                             0.9756425214218362,
                             0.9803057649534508]})

In [12]:
sim_options = {'name': 'cosine'} # Cosine Similarity
algo = surprise.KNNBasic(sim_options=sim_options)
surprise.evaluate(algo, data)

/home/mk/anaconda3/lib/python3.6/site-packages/surprise/evaluate.py:66: UserWarning: The evaluate() method is deprecated. Please use model_selection.cross_validate() instead.
  'model_selection.cross_validate() instead.', UserWarning)
/home/mk/anaconda3/lib/python3.6/site-packages/surprise/dataset.py:193: UserWarning: Using data.split() or using load_from_folds() without using a CV iterator is now deprecated.
  UserWarning)

Evaluating RMSE, MAE of algorithm KNNBasic.

------------
Fold 1
Computing the cosine similarity matrix...
Done computing similarity matrix.
RMSE: 1.0152
MAE:  0.8043
------------
Fold 2
Computing the cosine similarity matrix...
Done computing similarity matrix.
RMSE: 1.0209
MAE:  0.8077
------------
Fold 3
Computing the cosine similarity matrix...
Done computing similarity matrix.
RMSE: 1.0161
MAE:  0.8024
------------
Fold 4
Computing the cosine similarity matrix...
Done computing similarity matrix.
RMSE: 1.0139
MAE:  0.8026
------------
Fold 5
Computing the cosine similarity matrix...
Done computing similarity matrix.
RMSE: 1.0207
MAE:  0.8075
------------
------------
Mean RMSE: 1.0174
Mean MAE : 0.8049
------------
------------

CaseInsensitiveDefaultDict(list,
                           {'mae': [0.8042696348536933,
                             0.8076541050457395,
                             0.8023821123350373,
                             0.8025504054363545,
                             0.8074588100911344],
                            'rmse': [1.0151908556884568,
                             1.0209264430610934,
                             1.0161030676433631,
                             1.0138581114736767,
                             1.0207283316318874]})

In [15]:
sim_options = {'name': 'pearson'}
algo = surprise.KNNBasic(sim_options=sim_options)
surprise.evaluate(algo, data)

/home/mk/anaconda3/lib/python3.6/site-packages/surprise/evaluate.py:66: UserWarning: The evaluate() method is deprecated. Please use model_selection.cross_validate() instead.
  'model_selection.cross_validate() instead.', UserWarning)
/home/mk/anaconda3/lib/python3.6/site-packages/surprise/dataset.py:193: UserWarning: Using data.split() or using load_from_folds() without using a CV iterator is now deprecated.
  UserWarning)

Evaluating RMSE, MAE of algorithm KNNBasic.

------------
Fold 1
Computing the pearson similarity matrix...
Done computing similarity matrix.
RMSE: 1.0094
MAE:  0.8017
------------
Fold 2
Computing the pearson similarity matrix...
Done computing similarity matrix.
RMSE: 1.0143
MAE:  0.8065
------------
Fold 3
Computing the pearson similarity matrix...
Done computing similarity matrix.
RMSE: 1.0131
MAE:  0.8037
------------
Fold 4
Computing the pearson similarity matrix...
Done computing similarity matrix.
RMSE: 1.0075
MAE:  0.8007
------------
Fold 5
Computing the pearson similarity matrix...
Done computing similarity matrix.
RMSE: 1.0129
MAE:  0.8038
------------
------------
Mean RMSE: 1.0114
Mean MAE : 0.8033
------------
------------

CaseInsensitiveDefaultDict(list,
                           {'mae': [0.8016777615456216,
                             0.8065325434108521,
                             0.8037125635631706,
                             0.8007232441036347,
                             0.8038424775581007],
                            'rmse': [1.0094236319039744,
                             1.014297362181004,
                             1.0131443045326396,
                             1.0074612110603556,
                             1.0129019620208324]})

In [13]:
sim_options = {'name': 'pearson_baseline'} 
algo = surprise.KNNWithMeans(sim_options=sim_options)
surprise.evaluate(algo, data)

/home/mk/anaconda3/lib/python3.6/site-packages/surprise/evaluate.py:66: UserWarning: The evaluate() method is deprecated. Please use model_selection.cross_validate() instead.
  'model_selection.cross_validate() instead.', UserWarning)
/home/mk/anaconda3/lib/python3.6/site-packages/surprise/dataset.py:193: UserWarning: Using data.split() or using load_from_folds() without using a CV iterator is now deprecated.
  UserWarning)

Evaluating RMSE, MAE of algorithm KNNWithMeans.

------------
Fold 1
Estimating biases using als...
Computing the pearson_baseline similarity matrix...
Done computing similarity matrix.
RMSE: 0.9416
MAE:  0.7338
------------
Fold 2
Estimating biases using als...
Computing the pearson_baseline similarity matrix...
Done computing similarity matrix.
RMSE: 0.9411
MAE:  0.7330
------------
Fold 3
Estimating biases using als...
Computing the pearson_baseline similarity matrix...
Done computing similarity matrix.
RMSE: 0.9307
MAE:  0.7272
------------
Fold 4
Estimating biases using als...
Computing the pearson_baseline similarity matrix...
Done computing similarity matrix.
RMSE: 0.9356
MAE:  0.7292
------------
Fold 5
Estimating biases using als...
Computing the pearson_baseline similarity matrix...
Done computing similarity matrix.
RMSE: 0.9383
MAE:  0.7308
------------
------------
Mean RMSE: 0.9375
Mean MAE : 0.7308
------------
------------

CaseInsensitiveDefaultDict(list,
                           {'mae': [0.7338431071820717,
                             0.732987269849741,
                             0.7271748817991992,
                             0.7291617783498899,
                             0.7307988986145666],
                            'rmse': [0.9416389215920298,
                             0.9411006864239205,
                             0.9306651582130921,
                             0.9355983360281445,
                             0.9383359835040185]})

## Latent Factor 모형

Matrix Factorization를 푸는 방법 중 하나 SVD
http://surprise.readthedocs.io/en/latest/matrix_factorization.html

In [14]:
algo = surprise.SVD(n_factors=200, n_epochs=30)
surprise.evaluate(algo, data)

/home/mk/anaconda3/lib/python3.6/site-packages/surprise/evaluate.py:66: UserWarning: The evaluate() method is deprecated. Please use model_selection.cross_validate() instead.
  'model_selection.cross_validate() instead.', UserWarning)
/home/mk/anaconda3/lib/python3.6/site-packages/surprise/dataset.py:193: UserWarning: Using data.split() or using load_from_folds() without using a CV iterator is now deprecated.
  UserWarning)

Evaluating RMSE, MAE of algorithm SVD.

------------
Fold 1
RMSE: 0.9450
MAE:  0.7437
------------
Fold 2
RMSE: 0.9530
MAE:  0.7507
------------
Fold 3
RMSE: 0.9428
MAE:  0.7434
------------
Fold 4
RMSE: 0.9442
MAE:  0.7428
------------
Fold 5
RMSE: 0.9431
MAE:  0.7429
------------
------------
Mean RMSE: 0.9456
Mean MAE : 0.7447
------------
------------

CaseInsensitiveDefaultDict(list,
                           {'mae': [0.74365748832131,
                             0.7506582558733668,
                             0.7433593376801335,
                             0.742827887686958,
                             0.7429227097799327],
                            'rmse': [0.9450021179714178,
                             0.9529535879366118,
                             0.9428470953415401,
                             0.9442228534145928,
                             0.9430766866797725]})