### Series
- index, value
- like vector

In [1]:
data = pd.Series(np.random.randint(10, size = 3))
data

0    3
1    2
2    6
dtype: int64

In [3]:
data = pd.Series(np.random.randint(10, size = 3), index=['a', 'b', 'c'])
data # change index

a    3
b    9
c    9
dtype: int64

In [17]:
dic = {"c":4, "e":3, "f":8} #dic type
data2 = pd.Series(dic)
data2

c    4
e    3
f    8
dtype: int64

In [4]:
data.a, data.index, data.values

(3, Index(['a', 'b', 'c'], dtype='object'), array([3, 9, 9]))

In [6]:
data.name = "random num"
data.index.name = 'alpha'
data.name, data.index.name

('random num', 'alpha')

In [8]:
print(data)
data*10

alpha
a    3
b    9
c    9
Name: random num, dtype: int64

alpha
a    30
b    90
c    90
Name: random num, dtype: int64

#### multiple output

In [9]:
data[["a", "c"]]

alpha
a    3
c    9
Name: random num, dtype: int64

In [13]:
data['b']

9

#### offset

In [16]:
print(data[1:3])
data[data<4]

alpha
b    9
c    9
Name: random num, dtype: int64

alpha
a    3
Name: random num, dtype: int64

### Series 계산

#### null data 제거

In [19]:
result = data + data2
result

a     NaN
b     NaN
c    13.0
e     NaN
f     NaN
dtype: float64

In [20]:
result[result.notnull()]

c    13.0
dtype: float64