In [1]:
import requests
import time
from bs4 import BeautifulSoup

https://www.crummy.com/software/BeautifulSoup/bs4/doc/

In [2]:
response = requests.get("http://naver.com") # get as text data
soup = BeautifulSoup(response.content, 'html.parser') # put in soup

In [3]:
type(response), type(soup)

(requests.models.Response, bs4.BeautifulSoup)

In [4]:
soup.title # take from soup

In [5]:
print(type(soup.title.name), type(soup.title.text), type(soup.title.string))
soup.title.name, soup.title.text, soup.title.string

<class 'str'> <class 'str'> <class 'bs4.element.NavigableString'>

('title', 'NAVER', 'NAVER')

In [6]:
soup.p, type(soup.p)

(<p class="dsc"><em class="txt">동일한 시간대/연령/남녀별</em> 사용자 그룹의<br/>관심사에 맞춰 자동완성을 제공합니다.</p>,
 bs4.element.Tag)

In [7]:
soup.p['class']

['dsc']

In [8]:
soup.a

In [9]:
a = soup.find_all('a') # find all stuff
type(a)

bs4.element.ResultSet

In [10]:
a = soup.find(id='ke_kbd_btn') 
a, type(a)

(<a class="btn_keyboard" data-clk="sch.ime" href="javascript:;" id="ke_kbd_btn" onclick="nx_ime_load(this)" role="button"><span class="blind">한글 입력기</span><span class="ico_keyboard"></span></a>,
 bs4.element.Tag)

In [11]:
a = soup.select('a') #take as list
type(a)

list

In [12]:
a.text

AttributeError: 'list' object has no attribute 'text'

---

In [ ]:
def has_class_but_no_id(tag):
    return tag.has_attr('class') and not tag.has_attr('id')

In [ ]:
soup.find_all(has_class_but_no_id)
# [<p class="title"><b>The Dormouse's story</b></p>,
#  <p class="story">Once upon a time there were...</p>,
#  <p class="story">...</p>]

---

In [13]:
df = pd.DataFrame(columns=["top"])

response = requests.get('http://news.naver.com/main/home.nhn')
soup = BeautifulSoup(response.content, "html.parser")
keywords = soup.select('.type14 > li')
for key in keywords:
    df.loc[len(df)] = {
        'top': key.text,
    }
# print(keywords)

In [14]:
df

                                           top
0                [정치] 국민·바른 통합당 "당명, 원점에서 재검토"
1   [경제] 아파트·상가에 돈 몰리는 이유…2억원에 사서 3억원에 팔았다(종합)
2    [사회] 5·18 계엄군 비무장 시민 향해…38년만에 드러난 헬기사격 진실
3          [생활/문화] [날씨] 고비 넘긴 한파...내일 낮 영상권 회복
4           [세계] 대만 지진에 한국인 14명 부상…사망자 4명으로 늘어
5  [IT/과학] 애플 성능저하 업데이트 한달간 쉬쉬?…"배터리 교체 환불 검토"
6     [연예] '연애담' 조연출의 폭로 "이현주, 언어 폭력과 비상식적 행동"
7             [스포츠] 데 헤아의 맨유 재계약 조건 '주급 5억 이상'

---

In [26]:
def naver_top20():
    df = pd.DataFrame(columns = ['rank', 'keyword'])
    response = requests.get("http://naver.com")
    dom = BeautifulSoup(response.content, 'html.parser')
    keywords = dom.select(".ah_roll .ah_l .ah_item")
    for key in keywords:
        df.loc[len(df)] = {
            'rank' : key.select_one('.ah_r').text,
            'keyword' : key.select_one('.ah_k').text,
        }
    return df

In [27]:
naver_df = naver_top20()
naver_df

   rank   keyword
0     1     대만 지진
1     2       김여정
2     3       이현주
3     4   대한항공 채용
4     5       이강인
5     6       홍진영
6     7        대만
7     8       연애담
8     9        류근
9    10      1987
10   11        고은
11   12       최영미
12   13       정봉주
13   14    북한 응원단
14   15       롤챔스
15   16   홍진영 잘가라
16   17       조배숙
17   18   내보험 찾아줌
18   19  1987 관객수
19   20       이진욱

In [14]:
import datetime

print('Timestamp: {:%Y-%b-%d %H:%M:%S}'.format(datetime.datetime.now()))
print('Date now: %s' % datetime.datetime.now())
print('Date today: %s' % datetime.date.today())

Timestamp: 2018-02-07 22:12:31
Timestamp: 2018-Feb-07 22:12:31
Date now: 2018-02-07 22:12:31.831133
Date today: 2018-02-07

In [17]:
def ck():
    response = requests.get("http://biz.chosun.com")
    soup = BeautifulSoup(response.content, "html.parser")
    keywords = soup.select(".hd_ul2 > li")
    sh[0].append_table(values=['Timestamp :', time])
    for keyword in keywords:
        title = keyword.select_one("a").text
        auth = keyword.select_one(".art_auth").text
        sh[0].append_table(values=[title, auth])